// @import 'base/variables';
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/sidepanel';
@import 'blocks/history';